@import url("../../../../../../../../base/style/an.less");
@media screen and (min-width: @pc_width) {
.ModelCrowdList {
	display: flex;
	flex-direction: column;
	.BigItemList {
		display: flex;
	}
	.ItemList {
		display: flex;
		flex-wrap: wrap;
	}
}}