[type=checkbox], [type=radio] {
	box-sizing: border-box;
	padding: 0;
}
input[type="checkbox"] {
    margin: 3px 3px 3px 4px;
}
input[type="radio"], input[type="checkbox"] {
    background-color: initial;
    cursor: default;
    margin: 3px 0.5ex;
    padding: initial;
    border: initial;
}