@import url('./constant.less');
.common-section-gorycate-title {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 10px 0 20px;
	font-size: 18px;
	position: relative;
	border-bottom: 2px solid @home_content_title_blur_borderbottom_color;	
	padding: 6px 0;
	font-weight: 400;
	span {
		margin-bottom: -8px;
		border-bottom: 2px solid @home_content_title_active_borderbottom_color;
	    padding-bottom: 6px;
	    position: relative;
	    padding-left: 5px;
	    align-self: flex-end;
	    padding-right: 5px;
	}
	a {
		font-weight: 200;
		font-size: 14px;
	}
}