@import url("./constant.less");
.clearfix, .container, .container-fluid, .form-horizontal .form-group, .modal-footer, .modal-header, .row {
    zoom: 1;
    &:after, &:before {
    	clear: both;
	    content: '';
	    display: table;
    }
}
.clearfix:after, .container-fluid:after, .container:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .row:after {
    clear: both;
    content: '';
    display: table;
}