.UserItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&:hover {background: $pink_color;}
	span {
		flex: 1;
		overflow: hidden;
		max-height: 50px;
		padding: 10px;
		input[type="checkbox"] {-webkit-appearance: checkbox;z-index: 2;font-size: 30px;}
	}
}