@import url("../../base/style/constant.less");
@media screen and (min-width: @pc_width) {
.ArticleTag {
	display: flex;
	flex: 1;
	.ArticleTag-Padding {
		flex: 1 1;
	    background: #f5f6f8;
	    padding: 20px 15px;
	    width: 100%;
	    .ArticleTag-Warpper {
	    	width: 800px;
		    margin: 0 auto;
		    overflow: hidden;
		    .ArticleTag-Inner {
    			height: 80vh;
		    }
	    }
	}
}}