@import url("../../../../base/style/constant.less");
.ArticleMain {
	flex: 1;
	.Content-Wrapper {
		display: flex;
		background: url(@articel_bc_img) top/cover no-repeat fixed;
		padding: 20px;
		.content {
			display: flex;
			flex-direction: column;
			width: 100%;
		}
	}
}