@media screen and (min-width: $pc_width) {
.HomeMenuNav {
	flex: 0 1 20%;
	color: rgba(255,255,255,0.9);
	background: #232323;
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
    font-size: 12px;
	z-index: 2;
	padding-right: 20px;
	.nav-wrap {
		display: flex;
		flex-direction: column;
		.title {
			font-size: 15px;
			color: #000;
			height: 50px;
			line-height: 50px;
			padding: 0 10px;
		}
		.nav-list {
			display: flex;
			flex-direction: column;
			.nav-control {
				height: 40px;
				display: block;
				padding: 0 15px;
				line-height: 40px;
				font-size: 12px;
				color: rgba(255,255,255,0.9);
				text-shadow: 0 1px 0 rgba(0,0,0,0.1);
				font-weight: 700;
				i {
					font-size: 14px;
					margin-right: 8px;
					width: 15px;
					display: inline-block;
					text-align: center;
				}
				&.current {
					background: #000;
				}
				a {
					&:hover {color: #fff;}
				}
			}
		}
	}
}}