@media screen and (min-width: $pc_width) {
.HomeMenuNav {
	flex: 0 1 10%;
	display: flex;
	color: rgba(255,255,255,.7);
	background: $lightgray_color;
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
    font-size: 12px;
	z-index: 2;
	.nav-wrap {
		display: flex;
		flex-direction: column;
		width: 100%;
		.title {
			font-size: 15px;
			height: 50px;
			line-height: 50px;
			padding: 0 10px;
		}
		.nav-list {
			display: flex;
			flex-direction: column;
			.nav-control {
				height: 40px;
				display: block;
				line-height: 40px;
				font-size: 15px;
				text-shadow: 0 1px 0 rgba(0,0,0,0.1);
				font-weight: 700;
				i {
					font-size: 14px;
					margin-right: 8px;
					width: 15px;
					display: inline-block;
					text-align: center;
				}
				&.current {
					background: $blackblue_color;
				}
				a {
					padding: 0 15px;
					&:hover {color: #fff;}
				}
			}
		}
	}	
	.menu-group {
		display: none;
		text-align: center;
		font-size: 12px;
		li.current {
			background: $blackblue_color;
		}
	}
	.show {
		display: block !important;
	}
}}