@media screen and (max-width: $mobile_width) {
.HomeMenuNav {
	flex: 0 1 20%;
	color: rgba(255,255,255,0.9);
	background: $lightgray_color;
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
    font-size: 12px;
	z-index: 2;
	&.open {flex: 0 1 50%;}
	.nav-wrap {
		display: flex;
		flex-direction: column;
		.title {
			display: none;
			font-size: 15px;
			color: #000;
			height: 50px;
			line-height: 50px;
			padding: 0 10px;
		}
		.nav-list {
			display: flex;
			flex-direction: column;
			.nav-control {
				height: 40px;
				display: block;
				margin: 0 15px;
				line-height: 40px;
				font-size: 12px;
				color: rgba(255,255,255,0.9);
				text-shadow: 0 1px 0 rgba(0,0,0,0.1);
				font-weight: 700;
				text-align: center;
				i {
					font-size: 14px;
					width: 15px;
					display: inline-block;
					text-align: center;
				}
				span {display: none;}
				&.current {
					background: $blackblue_color;
				}
				a {
					&:hover {color: #fff;}
				}
			}
		}
		.menu-group {
			display: none;
			text-align: center;
			margin-top: 5px;
			font-size: 12px;
			li.current {
				background: $blackblue_color;
			}
		}
		.show {
			display: block !important;
		}
	}
}}