@import url("../../base/style/constant.less");
@media screen and (max-width: @mobile_width) {
.Music {
	.Music-Padding {
		flex: 1 1;
	    background: #f5f6f8;
	    padding: 20px 0px;
	    width: 100%;
	    .Music-Wrapper {
		    flex-direction: column;
		    justify-content: space-between;
		    width: 100%;
		    overflow: hidden;
		    .Music-Inner {
		    	display: flex;
		    	min-height: 80vh;
		    }
	    }
	}
}}