@import url("../../../../base/style/constant.less");
@media screen and (min-width: @pc_width) {
.ArchiveTimeYearTitle {
	margin-bottom: 10px;
	.yearTime {
		display: inline;
		font-size: 20px;
	    font-weight: 700;
	}
}}