.album-list {
	.AlbumItem {
	    text-shadow: none;
	    color: #fff;
	    overflow: hidden;
	    width: calc(100%);
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    transition: .3s;
	    cursor: pointer;
	    height: 40px;
	    line-height: 40px;
	    border-bottom: solid #eee 1px;
	    &.current {
	    	background-color: #1D96FF;
	    }
	    i {
	    	float: right;
	    	line-height: 30px;
	    	margin-right: 10px;
	    }
	    span {
	    	color: #fff;
	    	opacity: .3;
   			padding: 0 10px;
	    }
	}
}