@import url('../../../../../base/style/constant.less');
@media screen and (min-width: @pc_width) {
.HomeMain {
	.HomeSideBarContainer {
        flex: 0 1 33%;
        max-width: 33%;
        padding-left: 15px;
		display: flex;
        flex-direction: column;
	}
}}