@import url('../../../../../base/style/constant.less');
@media screen and (min-width: @pc_width) {
.HomeContentTop {
	flex: 1;
    display: flex;
	width: 100%;
	max-width: 100%;
	padding: 10px 0;
	margin-bottom: 20px;
	background: @content_wrapper_backgroudcolor;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
	min-height: 500px;
}}