@media screen and (max-width: $mobile_width) {
.Pagination {
	color: #fff;
	.pages {
		display: flex;
		margin: 0 auto;
		justify-content: space-between;
		.arrow {
			color: #000;
		}
		.page-control {
			color: #000;
			width: 100%;
			font-size: 15px;
			display: flex;
			justify-content: center;
			button {padding: 0 2px;background: #fff;}
		}
	}
	.current {
		background: $gray_color;
	}
}}