@media screen and (min-width: $pc_width) {
.Pagination {
	color: #fff;
	margin-top: 50px;
	.pages {
		display: flex;
		width: 40%;
		margin: 0 auto;
		justify-content: space-between;
		li {
			a {
				z-index: 3;
				background: $lightblue_color;
				border: 1px solid $lightblue_color;
				padding: 6px 12px;
				font-size: 12px;
				position: relative;

			}
			&.current a{
				color: #fff;
				background: $pink_color;
				border: 1px solid $pink_color;
			}
		}
	}
}}