@import url("../../../../../../../../base/style/section-common.less");
@import url("../../../../../../../../base/style/an.less");
@media screen and (max-width: @mobile_width) {
.ModelShortList {
	.ModelShortItem {
		flex: 1;
		margin: 10px 5px;
		padding: 0 5px;
		&:last-child {
			margin-right: 0px;
		}
		.ModelShortItemTitle {
			.common-section-gorycate-title;
		}
	}
}}
