@import url("../../base/style/constant.less");
@media screen and (min-width: @pc_width) {
.ArchiveTag {
	display: flex;
	flex: 1;
	.ArchiveTag-Padding {
		flex: 1 1;
	    padding: 20px 15px;
	    width: 100%;
	    .ArchiveTag-Warpper {
	    	width: 1000px;
		    margin: 0 auto;
		    .ArchiveTag-Inner {
    			height: 80vh;
		    }
	    }
	}
}}