@import url("../../../../base/style/constant.less");
@media screen and (min-width: @pc_width) {
.SettingMain {
	flex: 1 1;
    width: 100%;
	.SettingMain-Wrapper {
		display: flex;
	    flex-direction: row;
	    justify-content: space-between;
	    width: 1170px;
	    margin: 20px auto;
	    position: relative;	
	    background-color: @content_wrapper_backgroudcolor;
	}
}}