@import url("../../../../base/style/constant.less");
.CommentItem {
	display: flex;
	margin-bottom: 15px;
	position: relative;
	flex-direction: column;
	.avatar {
		position: absolute;
		left: 0px;
		max-width: 40px;
		overflow: hidden;
		img{border-radius: 20px;}
	}
	.content-wrapper {
		margin-left: 50px;
		display: flex;
		flex-direction: column;
		.meta {
			display: flex;
			flex-direction: row;
			a{color: @black_color;};
			.master {
				width: auto;
				text-align: center;
				padding: 3px;
				font-size: 10px;
				color: #a6a8b1;
    			background-color: #3a3f51;
			}
		}
		.time {color: @gray_color;}
		.content {
			font-size: 14px;
			font-weight: 300;
		}
		.reply {
			button {
				width: auto;
				text-align: center;
				padding: 5px;
				font-size: 10px;
				background: @lightblue_color;
				color: #fff;
				&.active {
					background: @black_color;
				}
				&.dialog { background: @purple_color;}
				&.floor { background: @red_color; }
			}
		}	
	}
}