@import url("../../../../base/style/constant.less");
@media screen and (min-width: @pc_width) {
.ArticleTagDetailTitle {
	width: 100%;
	text-align: center;
	margin-top: 20px;
	.tagName {
		display: inline;
		font-size: 20px;
	    font-weight: 700;
	    margin-bottom: 20px;
	}
}}