.AddMusic {
	.wrap {
		width: 800px;
		margin: 0 auto;
		.inner {
			padding: 10px;
		}
		.form {
			display: flex;
			flex-direction: column;
			.form-control {
				margin-bottom: 10px;
			}
			.checkbox-group {
				display: flex;
			}
		}
		input[type=text],input[type=number],textarea {
			height: auto;
			font-size: 1.4rem;
			width: 100%;
			background: #fff;
			border-image: none;
			border: 1px solid #bdc3c7;
			color: #34495e;
			line-height: 1.467;
			padding: 8px 12px;
			border-radius: 3px;
			box-shadow: none;
			transition: border .25s linear,color .25s linear,background-color .25s linear;
			outline-color: #77C9FF;
			&::-webkit-input-placeholder{
		      font-weight: 400;
		      opacity: .4;
		      line-height: 25px;
		    }
		}
		button {
			background-size: 200% 20000%;
			background-position: 50%;
			color: #fff;
			background-color: #1abc9c;
			border: none;
		    font-size: 1.6rem;
		    font-weight: 400;
		    line-height: 1.4;
		    border-radius: 4px;
		    padding: 10px 15px;
		    margin-bottom: 0;
		    white-space: nowrap;
		    vertical-align: middle;
		    background-image: none;
		    -webkit-font-smoothing: subpixel-antialiased;
		    transition: all .4s;
		}
	}	
}
input[type="checkbox"] {-webkit-appearance: checkbox;}