@import url("../../../../../../../../base/style/section-common.less");
@import url("../../../../../../../../base/style/an.less");
@media screen and (min-width: @pc_width) {
.ModelShortList {
	.ModelShortItem {
		flex: 0 1 50%;
		max-width: 50%;
		margin: 10px 5px;
		padding: 0 5px;
		overflow: hidden;
		&:last-child {
			margin-right: 0px;
		}
		.ModelShortItemTitle {
			.common-section-gorycate-title;
		}
	}
}}
