@media screen and (min-width: $pc_width) {
.HomeHeader {
	z-index: $header_index;
	border: #e7e7e7;
	max-height: 340px;
	width: 100%;
	position: relative;
	height: $header_height;
	display: flex;
	align-items: center;
	color: #fff;
	background: $header_color;
	.leftIcon {
		height: 100%;
		padding: 0 10px;
		display: flex;
		align-items: center;
		.icon-control {
			padding: 0 15px;
		}
	}
	.rightIcon {
		flex: 1;
		display: flex;
		height: 100%;
		justify-content: flex-end;
		display: flex;
		align-items: center;
		.icon-group {display: inline;}
		.icon-control {
			padding: 0 15px;
			span {
				color: #fff;
				padding: 3px 5px;
				margin: 0 2px;
				text-align: center;
				border-radius: 2.5rem;
			}
		}
	}
	.user {
		height: 100%;
		display: flex;
		align-items: center;
		position: relative;
		.avatar {
			width: 45px;
			height: 45px;
			overflow: hidden;
			margin: 0 15px;
		}
		.name, .login {
			display: inline-block;
			height: 100%;
			font-size: 12px;
			display: flex;
			align-items: center;
			text-align: center;
			padding-right: 20px;
		}
	}
	.user-menu {
		display: none;
		position: absolute;
		width: 100%;
		top: 60px;
		background: $header_color;
		li {
			text-align: center;
			padding: 10px;
		}
	}
}}