@media screen and (max-width: $mobile_width) {
.HomeHeader {
	z-index: $header_index;
	max-width: 100vw;
	min-width: 100vw;
	border: #e7e7e7;
	max-height: 340px;
	position: relative;
	height: $header_height;
	display: flex;
	align-items: center;
	color: #fff;
	background: #000;
	overflow: hidden;
	.leftIcon {
		height: 100%;
		padding: 0 10px;
		display: flex;
		align-items: center;
		.icon-group {display: flex;}
		.icon-control {
			padding: 0 10px;
		}
	}
	.rightIcon {
		flex: 1;
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: flex-end;
		.icon-group {display: flex;}
		.icon-control {
			display: flex;
			align-items: center;
			padding: 0 10px;
			span {
				color: #fff;
				padding: 3px 5px;
				margin: 0 2px;
				text-align: center;
				border-radius: 2.5rem;
			}
		}
	}
	.user {
		display: none;
		height: 100%;
		.avatar {
			width: 45px;
			height: 45px;
			overflow: hidden;
			margin-left: 15px;
		}
		.name {
			display: inline-block;
			height: 100%;
			font-size: 12px;
			text-align: center;
			padding-right: 20px;
		}
	}
}}