@import url("../../../../../base/style/an.less");
@media screen and (min-width: @pc_width) {
.HomeSideBarMain {
	padding-left: 15px;
	width: 100%;
	max-width: 100%;
	display: flex;
	flex: 1;
	flex-direction: column;
	margin-bottom: -10px;
}}