@import url("../../../../../base/style/an.less");
@media screen and (max-width: @mobile_width) {
.HomeSideBarMain {
	padding-left: 15px;
	width: 100%;
	max-width: 100%;
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 10px 0;
	margin-bottom: -10px;
}}