@import url("../../../../../../../base/style/an.less");
.WidgetItem {
	display: flex;
	justify-content: space-between;
	height: 95px;
	overflow: hidden;
	&:hover {
		.thumb {img {.image-scale-after}}
	}
	&:not(:last-child) {
		margin-bottom: 20px;
	} 
	.thumb {
		overflow: hidden;
		a {
			display: block;
			max-height: 100%;
			img {
				display: block;
				vertical-align: middle;
				.image-scale-before;
				.image-opacity;
			}
		}
	}
	.detail {
		flex: 1;
		margin-left: 10px;
		.detail-title {
			max-height: 48px;
			overflow: hidden;
			font-size: 1.6rem;
			font-weight: 400;
		}
		.detail-meta {
			margin-top: 12px;
			font-size: 1.2rem;
		}
	}
}