@import url("../../../../base/style/constant.less");
@media screen and (max-width: @mobile_width) {
.ArchiveCategoryContent {
	min-height: 100%;
	.ArchiveCategoryParentCollections-wrapper {
		width: 100%;
		padding: 20px 50px;
    	overflow: hidden;
    	background-color: rgba(255,255,255,.9);
    	margin-bottom: 100px;
	}
}}