@import url("../../../../../../../base/style/an.less");
@media screen and (max-width: @mobile_width) {
.LongCollection {
	width: 100%;
	height: 100%;
	max-width: 100%;
	overflow: hidden;
	min-height: 1px;
	padding: 0 15px;
}}