.Music {
	.wrap {
		padding: 10px;
		.utils {
			height: 38px;
			margin-bottom: 10px;
			overflow: hidden;
			display: flex;
			align-items: center;
			.delBtn {
				@include common-btn;
				margin-right: 20px;
			}
			.searchBtn {
				@include common-btn;margin-left: 10px;background: $green_color;
			}
			.search-wrap {
				font-size: 15px;
				@include common-form-control;
				input{height: 38px;}
			}
		}
		.data-list-wrapper {
			margin: 10px 0;
			position: relative;
			overflow: hidden;
			border: 1px solid #e2e2e2;
			display: flex;
			flex-direction: column;
			.meta {
				height: 40px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				li {
					flex: 1;
					height: 100%;
					background: #F2F2F2;
					border-right: 1px solid #e2e2e2;
					span {
						padding-left: 10px;
						line-height: 40px;
					}
				}
			}
		}
	}
}