// 小于等于768px
@media screen and (max-width: 768px) {
	header.HomeHeader .HomeHeaderNav {
		display: flex;
    	.HomeHeaderMenu {
			display: flex;
			flex-direction: column;
			justify-content: center;
			span {height: 6px;vertical-align: top;}
			position: relative;
			top: -12px;
		}	
		.HomeHeaderItemList {
			display: none;
		}
		.HomeHeaderItemListRight {
			width: 100%;
			justify-content: flex-start;
			.LoginIcon{display: block !important;}
			.LoginLink{display: none !important;}
		}
	}
}

