@header_index: 100;
@header_bg_color: #fff;
@header_height: 60px;
@header_line_height: 30px;
@header_nav_height: 60px;
@header_nav_padding: 15px;
@logo_line_height: 20px;
@logo_height: 56px;
@home_width: 1392px;