@import url('./constant.less');
.comment-siderbar-title {
	h3 {
		font-size: 18px;
		font-weight: 400;
		border-bottom: 2px solid @home_content_title_blur_borderbottom_color;
		margin-bottom: 25px;
		font-size: 2rem;
		padding-bottom: 6px;
		span {
			border-bottom: 2px solid @home_content_title_active_borderbottom_color;
			padding-bottom: 6px;
		}
	}
}