::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(0,0,0,.1);
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0,0,0,.2);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(0,0,0,.01);
    -webkit-box-shadow: inset 0 0 6px transparent;
}
input, textarea, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

