@import url("../../../../base/style/constant.less");
@media screen and (min-width: @pc_width) {
.Music {
	.MusicContent {
		display: flex;
		flex-direction: column;
		flex: 0 1 100%;
		max-width: 100%;
	    min-height: 1px;
	    padding: 10px 15px;
	    height: 100%;
	    background-color: @content_wrapper_backgroudcolor;
	}	
}}