@import url('../../../base/style/constant.less');
@media screen and (max-width: @mobile_width) {
	.HomeMain {
		flex: 1;
		.HomeMain-Wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			-webkit-box-align: center;
			padding: 20px 15px;
			box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
			background: @content_bg_color;
		}
	}
}

