.EditArticle {
	display: flex;
	flex-direction: column;
	.wrap {
		flex: 0 1 100%;
		max-width: 100%;
		background-color: rgba(255, 255, 255, 0.8);
		display: flex;
		overflow: hidden;
		max-height: 100vh;
		height: 100vh;
		.markdownEditor {
			flex: 0 1 40%;
			max-width: 40%;
			height: 100%;
			padding-top: 20px;
			overflow: auto;
			.uploadBtn {
				@include common-btn;
				font-size: 12px;
				margin-bottom: 10px;
			}
			.finishBtn {
				@include common-btn;
				font-size: 12px;
				background: $green_color;
				margin-bottom: 10px;
			}
			.MountedBtn {
				@include common-btn;
				font-size: 12px;
				background: $lightblue_color;
				margin-bottom: 10px;
			}
		}	
	}
	.info {
		display: flex;
		flex-wrap: wrap;
		.title {
			flex: 0 1 50%;
			max-width: 50%;
			width: 100%;
			@include common-form-control
		}
		.categroy {
			flex: 0 1 50%;
			max-width: 50%;
			padding-left: 20px;
			display: flex;
			align-items: center;
			flex-direction: column;
			.checkbox-group {
				margin-top: 10px;
				width: 100%;
				display: flex;
				.checkbox-control {
					color: $lightpink_color;
					text-align: center;
					padding-right: 20px;
					label {font-size: 18px;}
				}
			}
		}
	}
}
input[type="checkbox"] {-webkit-appearance: checkbox;}