@import url('../../../../../../../base/style/constant.less');
@media screen and (min-width: @pc_width) {
.LongList {
	position: relative;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}}