@import url("../../../../../../../base/style/an.less");
@media screen and (min-width: @pc_width) {
.WidgetCollection {
	flex: 0 1 34%;
	max-width: 34%;
	position: relative;
	min-height: 1px;
	padding: 10px 15px;
}}