.SelfCommentList {
	position: relative;
	padding: 20px;
	margin-bottom: 50px;
	background: #fff;
	border-radius: 5px;
	.content {
		.noMessage {text-align: center;svg{margin-top: 20px;}}
		.info-group {
			padding: 5px 0;
			margin: 10px 0;
			display: flex;
			.control-label {
				font-size: 18px;
				max-height: 30px;
				overflow: hidden;
				line-height: 1.5;
				font-weight: 600;
				flex: 0 1 25%;
			}
			p {
				flex: 1;
				position: relative;
				min-height: 1px;
				max-height: 30px;
				overflow: hidden;
				padding: 0 15px;
			}
		}
	}	
}