@import url('../../../../../base/style/constant.less');
@media screen and (min-width: @pc_width) {
.HomeMain {
	.HomeContentContainer {
        flex: 0 1 67%;
        max-width: 67%;
		display: flex;
        flex-direction: column;
	}
}}