@import url("../../../../../../../../base/style/an.less");
@media screen and (max-width: @mobile_width) {
.ModelMediumCollection {
	.ModelMediumList {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}}
