$header_index: 100;
$pc_width: 800px;
$mobile_width: 800px;
$header_height: 60px;
$header_color: #393D49;
$card_index: 50;
$lightred_color: #D9544F;
$lightblue_color: #418BCA;
$lightgreen_color: #16A085;
$lightblack_color: #3F4E62;
$blackblue_color: #393D49;
$red_color: #f05050;
$pink_color: rgba(255, 112, 173, 0.35);
$lightgray_color: #282B33;
$lightpink_color: #e74c3c;
$green_color: #1abc9c;
$gray_color: #7f8c8d;
