$header_index: 100;
$pc_width: 800px;
$mobile_width: 800px;
$header_height: 60px;
$card_index: 50;
$lightred_color: #D9544F;
$lightblue_color: #418BCA;
$lightgreen_color: #16A085;
$lightblack_color: #3F4E62;