@import url("../../../../base/style/constant.less");
@media screen and (min-width: @pc_width) {
.ArchiveTagDetailCollection {
    max-height: 100%;
    background-color: @content_wrapper_backgroudcolor;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}}