@import url("../../base/style/constant.less");
@media screen and (max-width: @mobile_width) {
.ArchiveTagDetail {
	display: flex;
	flex: 1;
	min-height: 80vh;
	.ArchiveTagDetail-Padding {
		flex: 1;
	    background: #f5f6f8;
	    padding: 20px 15px;
	    width: 100%;
	    .ArchiveTagDetail-Warpper {
	    	width: 100%;
	    	height: 100%;
	    	overflow: hidden;
		    .ArchiveTagDetail-Inner {
    			
		    }
	    }
	}
}}