@import url('../../base/style/constant.less');
@media screen and (max-width: @mobile_width) {
.Firend {
	min-height: 100vh;
	.Firend-Wrapper {
		width: 100%;
		.Firend-Inner {
			padding: 20px 15px;
		}
	}
}}