@import url("../../../../base/style/constant.less");
@media screen and (min-width: @pc_width) {
.ArchiveTimeYearCollection {
	height: 100%;
	overflow: hidden;
    background-color: @content_wrapper_backgroudcolor;
    border-radius: 10px;
   	margin-bottom: 20px;
}}