@import url('../../../base/style/constant.less');
.HomeContent {
	flex: 0 1 67%;
	background: #f5f6f8;
	padding: 20px 15px;
	.HomeContent-Wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: @home_width;
		margin: 0 auto;
	}
}